* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: black;
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    text-align: center;
    height: 75px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    gap: 25px;
}
h1 {
    text-align: center;
}
ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid red;
    color: red;
    background-color: black;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    transition: 0.3s ease;
    cursor: pointer;
}
li:hover {
    background-color: red;
    color: black;
}
li:not(:hover){
    transition: 0.3s ease;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}
footer {
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    bottom: 0;
    left: 0;
}